<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/mainpage.css">
    <title>DRIVER</title>
</head>
<body>
    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="/" class="name">DRIVER</a>
            <a href="/" style="text-decoration:underline" class="global-nav-item">HOME</a>
            <a href="/servicepage" class="global-nav-item">SERVICE</a>
            <a href="/upload" class="global-nav-item">UPLOADING</a>
            <a href="/analysis" class="global-nav-item">MY PAGE</a>
            <a href="/login" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>

        <section class="scroll-section" id="scroll-section-0">
          <!-- 스크롤 값에 따라서 약간의 애니메이션 처리를 할 수 있게 -->
          <div class="sticky-elem main-message">
            <h1>당신이 모르고 지나쳐온 <br> 잘못된 운전습관</h1>
          </div>
          <div class="sticky-elem sub-message">
            <h2>AI를 이용한 운전습관 감정 서비스</h2>
          </div>
            <img src="static/images/mainroad2.PNG" class="mainroad2">
        </section>

        <footer class="footer">
          2021, OASIS HACKERTON, 운전만해
        </footer>
    </div>
    
    
</body>
</html>