<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/mainpage.css">
    <title>DRIVER</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="#" class="name">DRIVER</a>
            <a href="#" class="global-nav-item">HOME</a>
            <a href="#" class="global-nav-item">SERVICE</a>
            <a href="uploading.html" class="global-nav-item">UPLOADING</a>
            <a href="mypage.html" class="global-nav-item">MY PAGE</a>
            <a href="login.html" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>

        <section class="scroll-section" id="scroll-section-0">
          <!-- 스크롤 값에 따라서 약간의 애니메이션 처리를 할 수 있게 -->
          <div class="sticky-elem main-message">
            <h1>당신이 모르고 지나쳐온 <br> 잘못된 운전습관</h1>
          </div>
          <div class="sticky-elem sub-message">
            <h2>AI를 이용한 운전습관 감정 서비스</h2>
          </div>
            <img src="static/images/mainroad2.png" class="mainroad2">
        </section>

        <section class="scroll-section" id="scroll-section-1">
          <div class= "mockup">
            <img src="static/images/web_mockup.png">
            <p><strong>기반으로 학습된 고도의 교통 정보</strong></p>

            <p>17만장의 학습된 데이터를 통하여 교통표지판, 감속, 과속, 중앙선 침범과 같은 과태료 대상 정밀 진단!<br>자칫 놓칠 수 있는 운전 습관들을 한 번에 파악할 수 있어요. </p>
          </div>

          <div class = "parse2">
          <div> <img src="static/images/web_faimily.jpg" class="family">
            <p id=p1><strong>AI기반으로 학습된 고도의 교통 정보</strong></p>
            <p id=p2>17만장의 학습된 데이터를 통하여 교통표지판, 감속, 과속, 중앙선 침범과 같은 과태료 대상 정밀 진단!<br>자칫 놓칠 수 있는 운전 습관들을 한 번에 파악할 수 있어요. </p>
          </div>
        </section>

        <footer class="footer">
          2021, 오아시스 해커톤, 운전만해
        </footer>
    </div>
    
    <script src="mainpage2.js"></script>
</body>
</html>