<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/score.css">
    <title>DRIVER</title>
</head>
<body>
    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="/" class="name">DRIVER</a>
            <a href="/" class="global-nav-item">HOME</a>
            <a href="/" class="global-nav-item">SERVICE</a>
            <a href="/upload" class="global-nav-item">UPLOADING</a>
            <a href="/score" class="global-nav-item">MY PAGE</a>
            <a href="/login" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>
    
    <div class="backgroundbox"></div>

    <div class="scorebox">
        <section>
            <h3>나의 운전 습관</h3>
            <div id="box">
                <p id="action">80점</p>
                <div class="verticalLine">
                    <div class="grid">
                        <section>
                            <!-- 원형그래프 svg -->
                          <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="220" height="220" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#efefef" stroke-width="4" fill="none" cx="16.91549431" cy="14.91549431" r="12.91549431" />
                            <circle class="circle-chart__circle" stroke="#de00ff" stroke-width="4" stroke-dasharray="67,100" stroke-linecap="round" fill="none" cx="18.91549431" cy="16.91549431" r="12.91549431" />
                            <g class="circle-chart__info">
                            
                            </g>
                          </svg>
                        </section>
                      </div>
                <div class='wrap'></div>      
            </div>
            </div>
            <a href="/analysis" class="global-nav-item"><div class ="button">
                <div class ="wave">
                    <p>Click</p>
                    <i class ="fa fa-wifi"></i>
                </div>

            </div>
            </a>
            <p id="good">정말 대단해요! 이렇게 완벽한 운전 습관을 가지고 있으시다니!<br>
                 앞으로도 이렇게만 운전을 하신다면 사고 걱정 NO!(●'◡'●)<br>
                 
                  이렇게 완벽한 운전 습관을 가지고 있으신 거! 앞으로도 이렇게만 운전을 하신다면 사고 걱정 NO! 우리 함께 안전한 호남지역!!</p>
        </section>
    </div>
    <script scr = "static/js/score.js"></script>

</body>