<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/servicepage.css">
    <title>DRIVER</title>
</head>
<body>
    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="/" class="name">DRIVER</a>
            <a href="/" class="global-nav-item">HOME</a>
            <a href="/servicepage" class="global-nav-item">SERVICE</a>
            <a href="/upload" class="global-nav-item">UPLOADING</a>
            <a href="/analysis" class="global-nav-item">MY PAGE</a>
            <a href="/login" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>


    <div class = "title">
        <p id = "AI">AI 기반으로<br> 학습된 고도의 교통정보</P>
        <p id = "very">17만장의 학습된 데이터를 통하여 교통표지판, 감속<br>
             과속, 중앙선 침범과 같은 과태료 대상 정밀 진단!<br>호남지역에서의 안전한 여행 시작하세요</p>
        <div class = "button">
            <!-- <button id="moo">서비스시작</button> -->
            <a href="/upload" class="global-nav-item"><p id = "moo">서비스 시작</p></a>
        </div>
    </div>

    <div> <img class = "image" src = "static/images/Mockup.png"> </div>
    <div> <img class = "back" src = "static/images/ourservice2.jpg"> </div>
</body>