<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/success.css">
    <title>DRIVER</title>
    
</head>
<body>

    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="/" class="name">DRIVER</a>
            <a href="/" class="global-nav-item">HOME</a>
            <a href="/servicepage" class="global-nav-item">SERVICE</a>
            <a href="/upload"style="text-decoration:underline;
            text-underline-position:under; color:rgb(80,0,99);
            text-decoration-thickness:2px" class="global-nav-item">UPLOADING</a>
            <a href="/analysis" class="global-nav-item">MY PAGE</a>
            <a href="/login" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>
        <div class="backgroundbox"></div>
        <div class="container1">
            <div id="box">
              <h2>Upload Video</video></h2>
              <div id = "middlebox">
                  <img class = "image" src = "static/images/success.png">          
                  <p id = "drag">분석이 완료되었습니다</p>

              </div>
          </div>
          <div class = bb>
          <div class = "button">
            <a href="/score" class="global-nav-item"><p>확 인</p></a>
          </div>
          </div>
        </div>


</body>