<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/uploading.css">
    <title>DRIVER</title>
    
</head>
  <body>
      



    <div class="container">
        <nav class="global-nav">
          <div class="global-nav-links">
            <a href="/" class="name">DRIVER</a>
            <a href="/" class="global-nav-item">HOME</a>
            <a href="#" class="global-nav-item">SERVICE</a>
            <a href="/uploading" class="global-nav-item">UPLOADING</a>
            <a href="/mypage" class="global-nav-item">MY PAGE</a>
            <a href="/login" class="LOGIN">SING IN / LOGIN</a>
          </div>
        </nav>
        
        <div class="container1">

            <h1>[ 당신의 주행영상을 업로드 하세요 ]</h1>
                  
            <div class="box">
              
                <img class = "image" src = "static/images/uploaing.png">    
                
                <form action="http://localhost:5000/fileUpload" 
                  method="POST"
                  enctype="multipart/form-data">
                  <input type="file" name="file" />
                  
                  <input type="submit" />
                  </form>
            </div>
        </div>


</body>