@charset 'utf=8';

/* 눈누 폰트 loading  */

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400,500,600,700,900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
        font-family: 'Pretendard-ExtraBold';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
        font-weight: 800;
        font-style: normal;
    }

@font-face {
        font-family: 'Pretendard-SemiBold';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'IM_Hyemin-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    }

html :not(.name,.scroll-section,.footer,.scorebox,h3,p,#action,#bad,#title,.result1,#result2,#result3,#result4,#a,.a1,.a2,.a3){
    font-family : 'Pretendard-Regular';
    font-size : 14px;
}

/*body의 가로 스크롤 없애주고, 자간 줄임*/
body {
background-image: url('backgb.png');
   overflow-x: hidden;
   color: rgb(29,29,31);
   letter-spacing: -0.05em;
   background:rgb(248,248,248);
}
p :not(.sub-message){
    line-height: 1.6;
}
a{
    color :rgb(29,29,31);
    text-decoration: none;
}

.global-nav {
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}

/*flex로 가로 정렬, center로 가운데 정렬*/
.global-nav-links {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    max-width: 1500px;
    height: 100%;
    
}

.global-nav-item {
    font-weight: bold;
}
/* 우선순위에 밀릴 경우에는 global-nav-links.name으로 바꿔라 */
.name {
    font-family: 'Pretendard-ExtraBold';
    margin-right: 150px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: Pretendard-Black;
}

.global-nav-links a:not(.name,.LOGIN){
    margin-left : 2em;
    margin-right: 2em
}


.LOGIN {
    font-size:0.8rem;
    margin-left: 600px;
    font-weight: bold;
}


/* scroebox 레이아웃 */

.scorebox {
    box-shadow: 0.1px 0.1px 5px rgb(126, 126, 126);
    position:absolute; top: 40px; left:0; z-index:10;
    background-color: rgb(244,244,244);
    margin-top: 55px;
    margin-left:17%;
    font: size 0.9em;
    line-height: 2.0;
    width: 1000px;
    height: 600px;
    padding: 30px;
    border-radius: 25px;
    border: solid 1px #cfcfcf;

}


/* 나의 운전 습관 */
.scorebox h3 {
    letter-spacing: 1px;
    font-family: 'Pretendard-ExtraBold';
    color: #565557;
    margin-top:-10px;
    margin-left: px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    
}

.backgroundbox {
  position:relative;
  width: 2000px;
  height: 300px;
  margin: 0px 3px 457px 0;
  background-color: #a208fc;
}

.flex{
    display: flex;
}
.videobox {
    width: 550px;
    height: 450px;
    background-color: rgb(244,244,244);
    text-align: center;

}

.score {
    /* box-shadow: 5px 3px 10px #8a8a8a; */
    margin-left: 30px;
    width: 400px;
    height: 450px;
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px #b3b3b3;
    border:dotted 1px #cfcfcf;
 
}

#sample {
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

#bad { 
    font-size: 18px;
    font-family: 'Pretendard-Bold';
    color: #565557;
}

#title {
    letter-spacing: 1px;
    font-family: 'GongGothicMedium';
    color: #565557;
    font-size: 22px;
    margin-top: 15px;
    padding-left: 12px;
}

.result1{

    letter-spacing: 1px;
    font-family: 'Pretendard-SemiBold';
    color: #000000;
    font-size: 15px;
    margin-top: 10px;
    padding-left: 12px;
    line-height: 28px;
    

}

.result2 {
    display: flex;
    width: 370px;
    height: 100px;
    background-color: white;
    margin-top: 180px;
    margin-left: -2px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0.1px 0.1px 15px #b3b3b3;
}

#result3 {
    padding-top: 35px;
    padding-left: 28%;
    font-size: 50px;
    text-align: center;
    font-family: 'GongGothicMedium';
    color: rebeccapurple;
}


#result4 {
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    font-family: 'GongGothicLight';
    
}

.a1 {
    display: flex;
    font-family: 'GongGothicLight';
    margin-left: 10px;
}

.a2 {
    display: flex;
    font-family: 'GongGothicLight';
    margin-left: 10px;
}

.a3 {
    display: flex;
    font-family: 'GongGothicLight';
    margin-left: 10px;
}

#a {
    color : blue;
    margin-right: 8px;
    text-decoration: underline;

}