@charset 'utf=8';

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400,500,600,700,900;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
        font-family: 'Pretendard-ExtraBold';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
        font-weight: 800;
        font-style: normal;
    }

@font-face {
        font-family: 'Pretendard-SemiBold';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }


html :not(.name,h1,.footer,.middlebox,.backgroundbox,.button){
    font-family : 'Pretendard-Regular';
    font-size : 14px;
}

/*body의 가로 스크롤 없애주고, 자간 줄임*/
body {
    /* background-image: url('backgb.png'); */
    background-size: 100%;
   overflow-x: hidden;
   color: rgb(29,29,31);
   letter-spacing: -0.05em;

}
p :not(.sub-message){
    line-height: 1.6;
}
a{
    color :rgb(29,29,31);
    text-decoration: none;
}

.global-nav {
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}

/*flex로 가로 정렬, center로 가운데 정렬*/
.global-nav-links {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    max-width: 1500px;
    height: 100%;
    
}

.global-nav-item {
    font-weight: bold;
}
/* 우선순위에 밀릴 경우에는 global-nav-links.name으로 바꿔라 */
.name {
    font-family: 'Pretendard-ExtraBold';
    margin-right: 150px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: Pretendard-Black;
}

.global-nav-links a:not(.name,.LOGIN){
    margin-left : 2em;
    margin-right: 2em
}


.LOGIN {
    font-size:0.8rem;
    margin-left: 600px;
    font-weight: bold;
}

.scroll-section {
    padding-top: 20vh;
}

#scroll-section-0 h1 {
    line-height: 170%;
    font-family:'Pretendard-ExtraBold';
    font-size: 3rem;
    text-align: left;
    color:rgb(80,0,99);
    margin-left : 302px
}

#scroll-section-0 h2 {
    font-family: 'Pretendard-SemiBold';
    color: rgb(184, 184, 184);
    line-height: 10%;
    margin-left: 302px;
    margin-bottom: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;   
    line-height: 2.0;
}

.container1 {
    box-shadow: 0.1px 0.1px 5px rgb(126, 126, 126);
    position:absolute; top: 40px; left:0; z-index:10;
    margin-top: 55px;
    margin-left:27%;
    width: 800px;
    height: 600px;
    padding : 15px;
    background-color: white;
    border-radius: 15px;
    border:solid 1px #cfcfcf;
}

.container1 h2 {

    color: #565557;
    margin-top: -12px;
    margin-left: 15px;
    margin-top: 30px;
    text-align: left;
    font-size: 25px;
    font-family: 'Pretendard-ExtraBold';
 
}

#middlebox {
    
    margin: auto;
    margin-top: 40px;
    width : 700px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    border:dashed 5px #cdaaff; 
}

/* 가운데 cloud 아이콘 */

.image {
    width: 100px;
    height: 100px;
    margin-left: 43%;
    margin-top : 100px;
}

#drag {
    font-family: 'Pretendard-ExtraBold';
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    
}

#wating {
    margin-top: 55px;
    margin-left: 35px;
    font-family: 'Pretendard-SemiBold';
    font-size : 15px
}
.bb {
    display: flex;
}

/* 오른쪽 하단 업로드 button */
.button p {
    font-family: 'Pretendard-ExtraBold';
    margin-top: 45px;
    margin-left: 125px;
    width: 170px;
    height: 40px;
    background-color: #af78fc;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding : 7px;
}

.backgroundbox {
    position:relative;
    width: 2000px;
    height: 300px;
    margin: 0px 3px 457px 0;
    background-color: #a208fc;}



